.App {
  text-align: center;
  background-color: #e6ecf0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: white;
  height:50px;
  padding: 10px 10px 7px 10px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
  margin-bottom: 1px;
}

.App-header-backdrop {
  height: 320px;
  background: url('./assets/img/backdrop.jpg') 50% 22% no-repeat;
  background-size: cover;
}

.App-header-profile-avatar {
  position: absolute;
  height: 208px;
  width: 208px;
  border-radius: 104px;
  padding: 4px;
  background-color: white;
  z-index: 1;
  bottom: -42px;
  left: 65px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
} 

.App-header-profile-photo {
  margin: 3px 0px 0px 3px;
  height: 200px;
  width: 200px;
  background: url('./assets/img/avatar.png') no-repeat;
}

.App-header-bottom {
  position: relative;
  height: 46px;
  padding: 10px 0;
  background-color: white;
  z-index: 1;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
}
 
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Highcharts-wrapper {
  padding: 58px 144px 0;
  position: relative;
  background-color: #e6ecf0;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.navbar-nav,
.navbar-nav li a {
  margin-top: 0 ;
  padding-top: 0;
}

.navbar-nav {
  padding-bottom: 18px;
}

.fake-section {
  margin: 0 auto;
  width: 1286px;
  height: 800px;
  background: url('./assets/img/fake.png') no-repeat;
  background-size: contain;
}